<!-- Login Form -->
<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input
      #email="ngModel"
      required
      type="email"
      name="email"
      [(ngModel)]="credentials.email"
      placeholder="Enter Email"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                  duration-500 focus:outline-none rounded bg-transparent
                  focus:border-indigo-400"
    />
    <p class="text-red-400" *ngIf="email.errors && email.touched && email.dirty">
      Email is invalid
    </p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input
      required
      #password="ngModel"
      type="password"
      placeholder="Password"
      name="password"
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,}$"
      [(ngModel)]="credentials.password"
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
                duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400"
    />
    <p class="text-red-400" *ngIf="password.errors && password.touched && password.dirty">
      Password is invalid
    </p>
  </div>
  <button
    type="submit"
    [disabled]="loginForm.invalid"
    class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
                hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400"
  >
    Submit
  </button>
</form>
